{% extends 'layout.html' %}


{% block body %}
<br>
<br>
<br>
 <b><h2>About QAYYEM SA</h2></b> <br>    
    
<p>QAYYEM SA is a website for checking out reviews and raitings of meals around all resturants. Started in Septemper ‘20 Jeddah  </p> <br><br>

<b><h2>Why Use QAYYEM SA?</h2></b>
    <br>
 <p>So what are the benefits from using QAYYEM SA ?
    <br>

    Have you ever went to a restaurant for the first time, 
    and you didn't know what to order because it's your first time, 
    so you can check QAYYEM SA for meals reviews around all resturants in the world. </p>  
     
    <!--Emmet code:br*7-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br>
    
{% endblock %}