{% extends 'layout.html' %}


{% block body %}

<button id="myButton">click</button>

    <div id="feedBack">feedback</div>
    

    <script>
        
        $(document).ready( run )
        function run(){
            console.log("hello")
        }
        $("#myButton").click( bringData )
        function bringData()
        {
            $.ajax({
               type: 'GET',
               url: 'https://reqres.in/api/users?page=2',
                }).done( function(resp)
                {
                    myhtml = ''
                    for (i=0 ; i< resp.data.length; i++) 
                    {
                        myhtml += `
                        <div class="card" style="margin: 15px">
                            <h5 class="card-header">
                                    <img src="${resp.data[i].avatar}" alt="" height="50" width="50">
                                    ${resp.data[i].id}
                            </h5>
                            <div class="card-body">
                                <p class="card-text">${resp.data[i].first_name} ${resp.data[i].last_name}</p> 
                                <p class="card-text">${resp.data[i].email}</p> 
                            </div>
                        </div>`
                    }
                    console.log( resp )
                    $("#feedBack").html(myhtml) 
            });
        }
    </script>
{% endblock %}