{% extends 'layout.html' %}
    
    
    {%block body%} 
    <!--Auther:Mohammed-->
    <h3><a href="/restaurants" class="text-decoration-none">Restaurant list  <span class="badge badge-danger">New</span></a></h3>
      <br><br>
      <figure>
        <a href="/menu/Albaik">
        <img src="../static/images/Albaik.svg" class="rounded float-left" width="200" height="200" alt="img"></a>
        <a href="">
        <img src="../static/images/shrimp.png" class="rounded float-center" width="200" height="200" alt="img"></a>
        <a href="/menu/Siction B">
        <img src="../static/images/siction b.png" class="rounded float-left" width="200" height="200" alt="img"></a>
        <a href="/menu/KUDO"> 
        <img src="../static/images/kudo.png" class="rounded float-center" width="200" height="200" alt="img"></a>
        <a href="/menu/Mcdonalds">
        <img src="../static/images/mac.png" class="rounded float-center" width="300" height="200" alt="img"></a> <h7><a href="/restaurants" class="text-decoration-none">See more restaurant >></a> </h7>     
      </figure>
      <br><br><br>
       
      <h3><a href="#" class="text-decoration-none">Featured meals  <span class="badge badge-danger">New</span></a></h3>
       <br><br>
      <figure>
      <div class="img_meals">
        <img src="../static/images/mealalbaik.png" class="rounded float-left" width="200" height="200" alt="img">      
        <img src="../static/images/mealkudu.png" class="rounded float-left" width="200" height="200" alt="img"> 
        <img src="../static/images/mealmac.jpg" class="rounded float-center" width="200" height="200" alt="img">                 
        <img src="../static/images/meatzza.png" class="rounded float-center" width="200" height="200" alt="img">    
        <img src="../static/images/philly.png" class="rounded float-center" width="200" height="200" alt="img">                  

      </div>  
      </figure>
    
{% endblock %}