{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<br>
   <!--Yazeed-->
      <fieldset align = center >
          <h2>
          Email:   <br> <input type="text"><br>
          Password: <br><input type="text"><br>
          <br>
          <a href="index.html"><button>login</button></a>
        </h2>
         <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                Remember me
                </label>
          </div>
         <a href="sign-up.html">Dont have an account? sign-up here</a>
        </fieldset>
        
        
      <!--Emmet code:br*7-->
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> 
      {% endblock %}