{% extends 'layout.html' %}

{% block body %}
<!--Author:Mohammed-->

<br>
<br>
<br>
<div>
<h3 class="rlist" ><a href="#" class="text-decoration-none">Restaurant list  <span class="badge badge-danger">New</span></a></h3>
<br>
<div class="card-deck" style="margin:50px">
{% for i in rests %}
    <div class="card">
      <a href="{{url_for('menu_list', menu = i['name'])}}"><img src="{{i['image']}}" class="card-img-top" width="200" height="250" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{i['name']}}</h5>
        <p class="card-text">{{i['description']}}</p>
        <a href="{{url_for('menu_list', menu = i['name'])}}" class="btn btn-primary">see menu</a>
      </div>
    </div>
    


{% endfor %}
</div>
     {% endblock %}