{% extends 'layout.html'%}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<!--Author:Mohammed-->

<script>
                      
                       
        function check() {
                var p1 = document.forms["Sign-Up"]["password"].value;
                var p2 = document.forms["Sign-Up"]["confirmPass"].value;
               

        if (p1 === p2) {
        document.getElementById("message").style.color = "green";
         document.getElementById("message").innerHTML = "matching";
         document.getElementById("submit").removeAttribute("disabled")
         
       } else {
        document.getElementById("message").style.color = "red";
       document.getElementById("message").innerHTML = "not matching";
          } 
        }
      
      
</script>
<!--Author:Abdullah-->

    <form id="sign-up" name="Sign-Up" class="main-form needs-validation" novalidate>

        <div class="form-group col-md-4">
        <label for="name1">First name</label>
        <input type="text" class="form-control" id="name1" placeholder="Enter your first name">
        <div class="invalid-feedback">Please enter your first name</div>
        </div>
       
        <div class="form-group col-md-4">
          <label for="name2">Last name</label>
          <input type="text" class="form-control" id="name2" placeholder="Enter your last name">
          <div class="invalid-feedback">Please enter your last name</div>
        </div>

        <div class="form-group col-md-4">
                <label for="phone">Phone number</label>
                <input type="text" class="form-control" id="phone" placeholder="05xxxxxxxx "  pattern="[0-9]{10}" title="Enter your phone number">
                <div class="invalid-feedback">Please enter your phone number</div>
        </div>

        <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Enter a valid email">
                <div class="invalid-feedback">Please enter your email</div>
                </div>

                <div class="form-group col-md-4">
        <label for="dob">Date of birth</label>
        <input type="date" class="form-control" id="dob" placeholder="D/M/Y"  name="dob">
        <div class="invalid-feedback"> please enter your date of birth</div>
        </div>

        <div class="form-group col-md-4">
                <label for="City">City</label>
                <select id="inputState" class="form-control"  name="city">
                        <option   value="">--Select--</option>
                        <option  value="Jeddah">Jeddah</option>
                        <option value="Makkah">Makkah</option>
                        <option value="Taif">Taif</option>
                        <option value="Dammam">Dammam</option>
                        <option value="Riyadh">Riyadh</option>
                        <option value="Madina">Madina</option>                                                        
                </select> 
                <div id="err-state" class="invalid-feedback">please choose a state</div>
                </div>

                <div class="form-group col-md-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                        <div class="invalid-feedback">please enter a password</div>
                        </div>

                        <div class="form-group col-md-4">
                                <label for="password2">Confirm password</label>
                                <input type="password" name="confirmPass" class="form-control" id="password2"> </div>
                                <div id="err-confirm" class="invalid-feedback">please type your password again</div> <br>




        <div class="col-auto">
                <button type="submit" class="btn btn-dark" id="submit">Submit</button>
              </div>
    </form>
       
    
<script>

function checkText(id)
{
        var div = $("#"+id).closest("input");
        if($("#"+id).val() == null || $("#"+id).val() == "")
        {
                div.addClass(" is-invalid");
                return false;
        }
        else
        {
                div.removeClass(" is-invalid");
                div.addClass(" is-valid");
                return true;
        }
}

function confirmPass()
{
        if($("#password2").val() != $("#password").val())
        {
                $("#password2").addClass(" is-invalid");
                $("err-confirm").html("does not match password");
                return false;
        }
        else
        {
                $("#password2").removeClass(" is-invalid");
                $("#password2").addClass(" is-valid");
                return true;
        }
}

$(document).ready(
function()
{
        $("#sign-up").submit(

        function()
        {
                if(!checkText("name1"))
                {
                        return false;
                }
                if(!checkText("name2"))
                {
                        return false;
                }
                if(!checkText("phone"))
                {
                        return false;
                }
                if(!checkText("email"))
                {
                        return false;
                }
                if(!checkText("dob"))
                {
                        return false;
                }
                if($("inputState").val() === "")
                {
                        $("#inputState").addClass(" is-invalid")
                        return false;
                }
                else
                {
                        $("#inputState").removeClass(" is-invalid")
                        $("#inputState").addClass(" is-valid")
                }
                if(!checkText("password"))
                {
                        return false;
                }
                if(!checkText("password2"))
                {
                        return false;
                }
                if(!confirmPass())
                {
                        return false;
                }
        }
        )
}



)

















</script>
       
        
      
      
    
  
  

      <br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}